@model SecProject.Models.ProductOntologyFilterModelViewModel

<div id="ProductsPartialView" class="row col-md-12">
    @{
        Html.RenderPartial("PartialViews/ProductInMyWardrobePartialView", Model.ProductList);
    }
</div>