@model List<SecProject.Models.ProductsToShow>

@{
    var list = @Model.Where(t => !String.IsNullOrWhiteSpace(t.ImgUrl)).ToList();
}
<table>
    @for (int index = 0; index < list.Count(); index++)
    {
        if (index % 3 == 0)
        {
            <tr>
                <td>
                    @if (!String.IsNullOrWhiteSpace(list[index].ImgUrl))
                    {
                        <img src="@Url.Content(list[index].ImgUrl)" style="height: 200px" alt="Image" />
                        <div style="margin-top: 3px" align="center">
                            <a class="btn btn-danger btn-sm">Where to buy</a>
                            <a class="btn btn-success btn-sm">Add to wordrobe</a>
                        </div>
                    }
                </td>
            </tr>
        }
        else
        {
            <td>
                @if (!String.IsNullOrWhiteSpace(list[index].ImgUrl))
                {
                    <img src="@Url.Content(list[index].ImgUrl)" style="height: 200px" alt="Image" />
                    <div style="margin-top: 3px" align="center">
                        <a class="btn btn-danger btn-sm">Where to buy</a>
                        <a class="btn btn-success btn-sm">Add to wordrobe</a>
                    </div>
                }
            </td>
        }
    }
</table>