<script src="~/Scripts/Map.js" type="text/javascript"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title"></hgroup>
        </div>
    </section>
}
<section class="featured">
    <div class="content-wrapper">
        <h2 class="h2">Here is a suggestion for the following day:</h2>
        <div id="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <a href="#">
                            <img src="http://www.i1.orgimg.com/images/2014/promovare/toate_paginile/0e8c73d5d46760bd5e1213c82f33f03b.jpg" alt="casual" style="max-width : 558px; padding-left : 0px;" />
                        </a>
                        <div class="box">
                            <div class="top">
                                <div class="bottom">
                                    <div class="right-col">
                                        <h2><a href="#" class="h2">&nbsp;</a> Fashion tips for you: </h2>
                                        <div class="holder">
                                            <div class="play">
                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/kRZ8a1CGpvQ" frameborder="0" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                        <div class="cl">&nbsp;</div>
                                        <div class="holder">
                                            <div class="play">
                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/VyyaEA1M14w" frameborder="0" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cl">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>

        </div>
    </div>
</section>


<div class="featured">
    <div class="content-wrapper">
        <h2 class="h2">Location & Weather</h2>
        <!-- Geolocation JS -->

        <div id="mapContainer"></div>
        <a href="http://www.accuweather.com/en/ro/husi/276192/weather-forecast/276192" class="aw-widget-legal">
            <!--
            By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
            -->
        </a>
        <div id="awcc1391511344874" class="aw-widget-current" data-locationkey="276192" data-unit="c" data-language="ro-ro"
             data-useip="true" data-uid="awcc1391511344874">
        </div>
        <script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
    </div>
</div>

<div id="results"></div>

<div id="map" style="width: 450px; max-height: 400px;"></div>
