@model SecProject.Models.WhatToWearMainViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Hidden("whatToWearAction", Url.Action("WhatToWearRandom", "Home"))
<script src="~/Scripts/WhatToWear.js" type="text/javascript"></script>
@using (Html.BeginForm(null, null, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div id="WhatToWearFilterPartial">
        @{
            Html.RenderPartial("WhatToWearFilterPartial", Model);
        }
        
    </div>
}